In [2]:
import pandas as pd
import numpy as np

In [61]:
#df = pd.read_csv('/home/rmohring/code/rmm/advent-rmm-2024/source/day02/2_test.dat', sep="\s+", header=None)
df = pd.read_csv('/home/rmohring/code/rmm/advent-rmm-2024/source/day02/2-1.dat', sep="\s+", header=None)

ParserError: Error tokenizing data. C error: Expected 7 fields in line 4, saw 8

In [5]:
df.head()

   0  1  2  3  4
0  7  6  4  2  1
1  1  2  7  8  9
2  9  7  6  2  1
3  1  3  2  4  5
4  8  6  4  4  1

In [44]:
tmp = df.diff(axis=1)

In [45]:
tmp = tmp.drop(columns=0)

In [46]:
tmp

   1  2  3  4
0 -1 -2 -2 -1
1  1  5  1  1
2 -2 -1 -4 -1
3  2 -1  2  1
4 -2 -2  0 -3
5  2  3  1  2

In [47]:
nerf = (np.abs(tmp)<=3)

In [53]:
nerf.prod(axis=1)

0    1
1    0
2    0
3    1
4    1
5    1
dtype: int64

In [54]:
(tmp<0)

       1      2      3      4
0   True   True   True   True
1  False  False  False  False
2   True   True   True   True
3  False   True  False  False
4   True   True  False   True
5  False  False  False  False

In [55]:
(tmp<0).prod(axis=1)

0    1
1    0
2    1
3    0
4    0
5    0
dtype: int64

In [56]:
(tmp>0).prod(axis=1)

0    0
1    1
2    0
3    0
4    0
5    1
dtype: int64

In [58]:
happy = (np.abs(tmp)<=3).prod(axis=1) & ( ((tmp<0).prod(axis=1)) | (tmp>0).prod(axis=1) )

In [59]:
happy.sum()

2